/* Cart
---------------------------------------------------------------------------------- */

/*
cssg

	cart
	    <item> *

*/


/* Vars
-------------------------------------------------- */

@import "../../../css/variables";

/* /Vars */


.cart {
	display: none;

	flex-wrap: nowrap;
	flex-direction: column;

	background: $c-lightest;
	box-shadow: $sh-normal;

	&.__active {
		display: flex;
		}
	}

/* /Cart
---------------------------------------------------------------------------------- */