/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    padding: 0;

    flex-grow: 1;
    display: flex;
    width: 100%;
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    padding: 0 $grid-4;

    margin: 0 auto;
    max-width: $width-normal;
    }

/* /Common wrapper */


/* Main
-------------------------------------------------- */

.main {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-direction: row;
    }

/* /Main */


/* Store
-------------------------------------------------- */

.store {
    display: flex;
    flex: 1 0 65%;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    }

/* /Store */


/* Cart
-------------------------------------------------- */

.cart {
    display: flex;
    flex: 1 0 35%;

    flex-wrap: nowrap;
    flex-direction: column;

    background: $c-lightest;
    box-shadow: $sh-normal;
    }

/* /Cart */

/* /Layout
---------------------------------------------------------------------------------- */