/* Store
---------------------------------------------------------------------------------- */

/*
cssg

	store
	    <product> *

*/


/* Vars
-------------------------------------------------- */

@import "../../../css/variables";

/* /Vars */


.store {
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
	}

/* /Store
---------------------------------------------------------------------------------- */